
*.aux
*.glo
*.ist
*.log
*.out
*.synctex(busy)
*.toc
*.gz
*.glg
*.gls
whitepaper/original/.DS_Store
*.DS_Store
.DS_Store
usecases/.DS_Store
whitepaper/.DS_Store
whitepaper/original/.DS_Store
whitepaper/XYOWhitePaper.fdb_latexmk
whitepaper/XYOWhitePaper.fls
whitepaper/XYOWhitePaper.glg
whitepaper/XYOWhitePaper.gls
whitepaper/XYOWhitePaper.glsdefs
whitepaper/XYOBusinessPrimer.fdb_latexmk
whitepaper/XYOBusinessPrimer.fls
whitepaper/XYOBusinessPrimer.glg
whitepaper/XYOBusinessPrimer.gls
whitepaper/XYOBusinessPrimer.glsdefs
