
*.aux
*.glo
*.ist
*.log
*.out
*.pdf
*.synctex(busy)
*.toc
*.gz
*.glg
*.gls
whitepaper/original/.DS_Store
.DS_Store
usecases/.DS_Store
whitepaper/.DS_Store
whitepaper/original/.DS_Store
